.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
}
.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.navbar {
  background-color: #ffe8a3;
  color: black !important;
}

/* .product-image-grey {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  filter: grayscale(100%);
  opacity: 0.5;
}

.product-details-grey {
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
}

*/
.css-ka7ti6-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 9px;
  width: 1000px;
}
.search-option {
  display: flex;
  align-items: center;
  padding: 5px;
}

.search-option-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.search-option-text {
  display: flex;
  flex-direction: column;
}

.search-option-name {
  font-weight: bold;
}

.search-option-price {
  font-size: 0.8em;
  color: gray;
}
